
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap-editable.css" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css" />
    <script src="~/Scripts/bootstrap-editable.min.js"></script>
    <!--行内编辑-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Scripts/bootstrap-table-editable.min.js"></script>
    <!--最新版本会有 warning -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>

    <!-- 消息提示插件：toastr.js -->
    <link href="~/Content/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js" type="text/javascript"></script>
    <script src="~/Scripts//es6-promise.min.js "></script>
    <script src="~/Scripts//es6-promise.auto.min.js "></script>

    <script src="~/Scripts/common.toastr.init.js"></script>
    <script src="~/Scripts/common.form.validate.js"></script>
    <script src="~/Scripts/common.bootstraptable.init.js"></script>

    <style>
        /*模态框 位置及大小修改*/
        .modal-dialog {
            margin-top: 5%;
            width: 350px;
            height: 550px;
        }

        .col-sm-2 {
            margin-left: 1%;
        }

        div#query {
            border: 1px solid blue;
            margin-top: 15px;
            margin-bottom: 10px;
            padding-top: 10px;
        }
        /*表头样式*/
        .table .thead-blue th {
            color: #fff;
            background-color: #3195f1;
            border-color: #0d7adf;
        }
        /*行 hover*/
        .table-hover > tbody > tr:nth-child(odd):hover > td,
        .table-hover > tbody > tr:nth-child(odd):hover > th,
        .table-hover > tbody > tr:nth-child(even):hover > td,
        .table-hover > tbody > tr:nth-child(even):hover > th {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <div class="panel-body" style="padding-bottom:0px;">
        <button class="btn btn-info " data-toggle="collapse" data-target="#query"> 查询项</button>
        <!-- 条件查询框 -->
        <div id="query" class="collapse">
            <div class="row">
                <div>
                    <form id="queryform" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="queryCode">夹具代码</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="queryCode" type="text" name="queryCode" />
                            </div>
                            <label class="col-sm-2 control-label" for="queryName">领用人</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="queryName" type="text" name="queryName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="StartDate">开始日期</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="StartDate" type="text" name="StartDate" />
                            </div>
                            <label class="col-sm-2 control-label " for="StopDate">终止日期</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="StopDate" type="text" name="StopDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="col-sm-1 col-sm-offset-5 btn-primary">查询</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <!-- 工具栏 -->
            <div id="toolbar" class="btn-group">
                <button id="btn_add" type="button" class="btn btn-success" data-toggle="modal" data-target="#addOutRecordModal">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    <span>新增</span>
                </button>
                <button id="btn_remove" type="button" class="btn btn-danger">
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                    <span>删除</span>
                </button>
                <button id="btn_edit" type="button" class="btn btn-warning">
                    <i></i>
                    <span>行内编辑</span>
                </button>
            </div>

            <table id="outRecordTable" class="table-striped">
            </table>
            <!-- 添加 modal 框-->
            <div class="modal fade" id="addOutRecordModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content" sstyle="border-radius:5px">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">添加记录</h4>
                        </div>
                        <div class="modal-body">
                            <form id="addform" class="form-horizontal" action="##" method="post">
                                <div class=" form-group">
                                    <label class="col-xs-4 control-label" for="code">夹具代码</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="code" id="code" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="seqID">夹具序列号</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="seqID" id="seqID" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="usedByName">领用人</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="usedByName" id="usedByName" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="operationByName">操作人</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="operationByName" id="operationByName" type="text">
                                    </div>
                                </div>
                                <div class=" form-group">
                                    <label class="col-xs-4 control-label" for="prodLineID">产线ID</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="prodLineID" id="prodLineID" type="text">
                                    </div>
                                </div>
                                <div class=" form-group">
                                    <label class="col-xs-4 control-label" for="usedDate">领用日期</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="usedDate" id="usedDate" type="text">
                                    </div>
                                </div>
                                <div class="form-group modal-footer">
                                    <div class="col-xs-6 col-xs-offset-4">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-warning" onclick="addOutRecord()">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //添加领用记录
        function addOutRecord() {
            if (CheckFormNull("addform")) {
                AddRecord("addform", "/OutRecord/AddOutRecord", "addOutRecordModal", "outRecordTable");
            }
        }


        //btn_remove 事件
        $("#btn_remove").on("click", function () {

            //获取选中数据
            var jsonData = getSelectedData("outRecordTable");
            if (jsonData == null) {
                return;
            }
            confirmOrCancelDeleteData("/OutRecord/DeleteOutRecords", "outRecordTable", jsonData);

        })

        //操作列事情
        window.operationEvents = {
            //编辑事件
            'click #btn_update': function (e, value, row, index) {

            },
            'click #btn_delete': function (e, value, row, index) {
                var ItemIDs = new Array();
                Item = new Object();
                Item.ID = row.ID;
                ItemIDs.push(Item);
                console.log(ItemIDs);
                confirmOrCancelDeleteData("/OutRecord/DeleteOutRecords", "outRecordTable", ItemIDs)
            }
        }

        // 行样式
        function rowStyle(row, index) {
            var classes = ['success', 'danger']
            return { classes: classes[index % classes.length] };
        }

        function getEditableSource(requestUrl, jsonData) {
            var result = [];
            $.ajax({
                url: requestUrl,
                async: false,
                type: "get",
                data: { "temp": jsonData },
                success: function (data, status) {                    
                    $.each(data, function (key, item) {
                        result.push({ value: item.value, text: item.value });
                    });
                }
            });
            return result;
        }
        /**
         * 数据列
         * */
        var columns = [{
            title: "全选", field: "select", checkbox: true
        }, {
            field: 'ID',
            title: '编号',
            visable: true,
            sortable: true,
            align: 'center',
        }, {
            field: 'Code',
            title: '夹具代码',
            visable: true,
            editable: {
                type: 'select',
                title: '夹具代码',

                validate: function (value) {
                    if (!value) return '夹具代码不能为空';
                },
                noeditFormatter: function (value, row, index) {
                    return diyFormatter(value, 'Code');
                },
                source: function (value, row, index) {                  
                    return getEditableSource("/OutRecord/GetFixtureCode", null)
                }
            }
        }, {
            field: 'SeqID',
            title: '夹具序列号',
            visable: true,
            align: 'center',
            editable: {
                type: 'select',
                title: '夹具序列号',
                noeditFormatter: function (value, row, index) {
                    return diyFormatter(value, 'SeqID');
                },
                validate: function (value) {
                    if (!value) return '夹具序列号不能为空';
                },
                source: function (value, row, index) {                  
                    var data = $("#outRecordTable").bootstrapTable('getData');                
                    //2.获取所在的索引
                    var index = $(this).parents('tr').data('index');               
                    //获取当前行数据
                    var datas = data[index];                  
                    //获取当前行的某个数据
                    var _code = datas.Code;                
                    return getEditableSource("/OutRecord/GetFixtureSeqIDByCode", _code);
                }
            }
        }, {
            field: 'UsedByName',
            title: '领用人',
            visable: true,
            align: 'center'
        }, {
            field: 'OperationByName',
            title: '操作人',
            visable: true,
            align: 'center'
        }, {
            field: 'ProdLineID',
            title: '产线ID',
            visable: true,
            align: 'center'
        }, {
            field: 'UsedDate',
            title: '领用日期',
            visable: true, align: 'center',
            formatter: function (value, row, index) {
                return changeDateFormat(value)
            }
        }, {
            field: 'Operation',
            title: '操作',
            events: operationEvents,
            align: 'center',
            formatter: function (value, row, index) {
                return [
                    '<div class="btn-group">',
                    '<div class="btn-group">',
                    '<button id="btn_update" type="button" class="btn btn-warning" data-toggle="modal" data-target="#editOutRecordModal"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i><span></span></button>',
                    '<button id="btn_delete" type="button" class="btn btn-danger" ><i class="glyphicon glyphicon-remove" aria-hidden="true"></i><span></span></button>',
                    '</div>'
                ].join(' ');
            }
        },]

        /**
         * table 初始化
         * */
        var TableInit = function () {
            var outRecordTable = new Object();

            outRecordTable = BoootstrapTableInit("outRecordTable", '/OutRecord/ReadOutRecords', rowStyle, columns)
            return outRecordTable;
        }

        /**
         * 调用 TableInit
         * */
        $(function () {
            $("#operationByName").attr("value", window.sessionStorage.getItem("userName"));
            $("#operationByName").attr("disabled", "disabled");
            var itable = TableInit();//.初始化  Table
        });
    </script>
</body>
</html>
