
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js" type="text/javascript"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/bootbox.js/5.4.0/bootbox.min.js" type="text/javascript"></script>
    <!-- 消息提示插件：toastr.js -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js "></script>
    <!-- 弹出框插件 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>
    <script src="~/Scripts/common.form.validate.js"></script>
    <script src="~/Scripts/common.bootstraptable.init.js"></script>
    <style>

        /*模态框 位置及大小修改*/
        .modal-dialog {
            margin-top: 5%;
            width: 350px;
            height: 550px;
        }
       .col-sm-2{
            margin-left:1%;
            
           
        }
        div#query {
            border: 1px solid blue;
            margin-top: 15px;
            margin-bottom: 10px;
            padding-top: 10px;
        }
        /*表头样式*/
        .table .thead-blue th {
            color: #fff;
            background-color: #3195f1;
            border-color: #0d7adf;
        }
        /*行 hover*/
        .table-hover > tbody > tr:nth-child(odd):hover > td,
        .table-hover > tbody > tr:nth-child(odd):hover > th,
        .table-hover > tbody > tr:nth-child(even):hover > td,
        .table-hover > tbody > tr:nth-child(even):hover > th {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <div class="panel-body" style="padding-bottom:0px;">
        <button class="btn btn-info " data-toggle="collapse" data-target="#query"> 查询项</button>
        <!-- 条件查询框 -->
        <div id="query" class="collapse">
            <div class="row">
                <div>
                    <form id="queryform" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="queryCode">夹具代码</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="queryCode" type="text" name="queryCode" />
                            </div>
                            <label class="col-sm-2 control-label" for="queryName">领用人</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="queryName" type="text" name="queryName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="StartDate">开始日期</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="StartDate" type="text" name="StartDate" />
                            </div>
                            <label class="col-sm-2 control-label " for="StopDate">终止日期</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="StopDate" type="text" name="StopDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="col-sm-1 col-sm-offset-5 btn-primary">查询</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <!-- 工具栏 -->
            <div id="toolbar" class="btn-group">
                <button id="btn_add" type="button" class="btn btn-success" data-toggle="modal" data-target="#addOutRecordModal">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    <span>新增</span>
                </button>
                <button id="btn_remove" type="button" class="btn btn-danger">
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                    <span>删除</span>
                </button>
            </div>

            <!-- <button type="button" id="download" style="margin-left:50px" id="btn_download" class="btn btn-primary" onClick ="$(‘#myTable‘).tableExport({ type: ‘excel‘, escape: ‘false‘ })">数据导出</button> -->
            <table id="outRecordTable" class="table-striped">
            </table>
            <!-- 添加 -->
            <div class="modal fade" id="addOutRecordModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content" sstyle="border-radius:5px">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">添加记录</h4>
                        </div>
                        <div class="modal-body">
                            <form id="addform" class="form-horizontal" action="##" method="post">
                                <div class=" form-group">
                                    <label class="col-xs-4 control-label" for="code">夹具代码</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="code" id="code" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="seqID">夹具序列号</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="seqID" id="seqID" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="usedByName">领用人</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="usedByName" id="usedByName" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="operationByName">操作人</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="operationByName" id="operationByName" type="text">
                                    </div>
                                </div>
                                <div class=" form-group">
                                    <label class="col-xs-4 control-label" for="prodLineID">产线ID</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="prodLineID" id="prodLineID" type="text">
                                    </div>
                                </div>
                                <div class=" form-group">
                                    <label class="col-xs-4 control-label" for="usedDate">领用日期</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="usedDate" id="usedDate" type="text">
                                    </div>
                                </div>
                                <div class="form-group modal-footer">
                                    <div class="col-xs-6 col-xs-offset-4">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-warning" onclick="addOutRecord()">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        function addOutRecord() {
            if (CheckFormNull("addform")) {
                AddRecord("addform", "/OutRecord/AddOutRecord", "addOutRecordModal", "outRecordTable");
            }
        }

        //获取要删除的code seqID date 并转jsonstr
        //function getJsonData() {
        //    var rows = $("#outRecordTable").bootstrapTable('getSelections');
        //    //存储数据
        //    var ItemIDs = new Array();
        //    //console.log(rows);
        //    if (rows.length == 0) {// rows 主要是为了判断是否选中，下面的else内容才是主要
        //        toastr.warning("请先选择要删除的记录!");
        //        return;
        //    } else {
        //        //  声明一个object 存储行某几列数据
        //        $(rows).each(function () {
        //            var item = new Object();
        //            item.ID = this.ID;
        //            ItemIDs.push(item);

        //        });
        //    }
        //    return JSON.stringify(ItemIDs);
        //}

        ////btn_remove 事件
        //$("#btn_remove").on("click", function () {
        //    //获取选中数据
        //    var jsonData = getJsonData();
        //    if (jsonData == null) {
        //        return;
        //    }
        //    //删除数据
        //    confirmOrCancelDeleteData(jsonData);


        //})

        //// 确认是否删除数据
        //function confirmOrCancelDeleteData(jsonData) {
        //    swal.fire({
        //        title: '确定删除吗？',
        //        text: '你将无法恢复它！ 这可能是非常重要的一条记录！',
        //        type: 'warning',
        //        showCancelButton: true,
        //        confirmButtonColor: '#3085d6',
        //        cancelButtonColor: '#d33',
        //        confirmButtonText: '确定删除！',
        //        cancelButtonText: '取消删除！',
        //        confirmButtonClass: 'btn btn-success ',
        //        cancelButtonClass: 'btn btn-danger',
        //        buttonsStyling: false
        //    }).then(function (isConfirm) {
        //        if (isConfirm.value === true) {
        //            swal.fire(
        //                '已删除！',
        //                '记录已被删除',
        //                'success'
        //            ).then(function () {
        //                //确认删除
        //                deleteData(jsonData);
        //            })

        //        } else if (isConfirm.dismiss == 'cancel') {
        //            swal.fire(
        //                '已取消！',
        //                '记录未被删除',
        //                'error'
        //            );
        //        }
        //    })
        //}
        ////删除数据
        //function deleteData(jsonData) {
        //    $.ajax({
        //        url: "/OutRecord/DeleteOutRecords",
        //        type: "post",
        //        data: { "ItemIDs": jsonData },
        //        success: function (result) {
        //            if (result.success) {
        //                RefreshTable("outRecordTable");
        //                toastr.success('删除成功');
        //            }
        //            else {
        //                toastr.warning('删除失败');
        //            }
        //        },
        //        error: function (e) {
        //            toastr.error('删除错误');
        //        }
        //    });
        //}
        //操作列事情
        window.operationEvents = {
            //编辑事件
            'click #btn_update': function (e, value, row, index) {

            },                 
        } 
       // 行样式
        function rowStyle(row, index) {
            var classes = ['success', 'danger']
            return { classes: classes[index % classes.length] };
        }
        /**
         * 数据列
         * */
        var columns = [{
            title: "全选", field: "select", checkbox: true
        }, {
            field: 'ID',
            title: '编号',
            visable: true,
            sortable: true,
            align: 'center',
        },
        {
            field: 'Code',
            title: '夹具代码',
            visable: true,
        }, {
            field: 'SeqID',
            title: '夹具序列号',
            visable: true,
            align: 'center'
        }, {
            field: 'UsedByName',
            title: '领用人',
            visable: true,
            align: 'center'
        }, {
            field: 'OperationByName',
            title: '操作人',
            visable: true,
            align: 'center'
        }, {
            field: 'ProdLineID',
            title: '产线ID',
            visable: true,
            align: 'center'
        }, {
            field: 'UsedDate',
            title: '领用日期',
            visable: true, align: 'center',
            formatter: function (value, row, index) {
                return changeDateFormat(value)
            }
        }, {
            field: 'Operation',
            title: '操作',
            events: operationEvents,
            align: 'center',
            formatter: function (value, row, index) {
                return [
                    '<div class="btn-group">',
                    '<div class="btn-group">',
                    '<button id="btn_update" type="button" class="btn btn-warning" data-toggle="modal" data-target="#editOutRecordModal"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i><span></span></button>',
                    //'<button id="btn_delete" type="button" class="btn btn-danger" ><i class="glyphicon glyphicon-remove" aria-hidden="true"></i><span></span></button>',
                    '</div>'
                ].join(' ');
            }
        },]

        /**
         * table 初始化
         * */
        var TableInit = function () {
            var outRecordTable = new Object();

            outRecordTable = BoootstrapTableInit("outRecordTable", '/OutRecord/ReadOutRecords', rowStyle, columns)
            return outRecordTable;
        }

        /**
         * 调用 TableInit        
         * */
        $(function () {
            var itable = TableInit();//.初始化  Table
        });
    </script>
</body>
</html>
