
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <style>

        /*表头样式*/
        .table .thead-blue th {
            color: #fff;
            background-color: #3195f1;
            border-color: #0d7adf;
        }
        /*行 hover*/
        .table-hover > tbody > tr:nth-child(odd):hover > td,
        .table-hover > tbody > tr:nth-child(odd):hover > th,
        .table-hover > tbody > tr:nth-child(even):hover > td,
        .table-hover > tbody > tr:nth-child(even):hover > th {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <div class="panel-body" style="padding-bottom:0px;">
        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-success" data-toggle="modal" data-target="#addOutRecordModal">
                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                <span>新增</span>
            </button>

        </div>
        <!-- <button type="button" id="download" style="margin-left:50px" id="btn_download" class="btn btn-primary" onClick ="$(‘#myTable‘).tableExport({ type: ‘excel‘, escape: ‘false‘ })">数据导出</button> -->
        <table id="outRecordTable" class="table-striped">
        </table>
        <!-- 添加 -->
        <div class="modal fade" id="addOutRecordModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">添加记录</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/OutRecord/AddOutRecord" method="post">
                            <span>夹具代码</span>
                            <input type="text" name="code" placeholder="请输入夹具代码" />
                            <br>
                            <span>夹具序列号</span>
                            <input type="text" name="seqID" placeholder="请输入夹具代码" />
                            <br>
                            <span>领用人</span>
                            <input type="text" name="usedByName" placeholder="请输入夹具代码" />
                            <br>
                            <span>操作人</span>
                            <input type="text" name="operationByName" placeholder="请输入夹具代码" />
                            <br>
                            <span>产线ID</span>
                            <input type="text" name="proLineID" placeholder="请输入夹具代码" />
                            <br>
                            <span>领用日期</span>
                            <input type="text" name="usedDate" placeholder="请输入夹具代码" id="date" />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-warning">提交</button>
                            </div>
                        </form>
                    </div>
                   

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(function () {
            var itable = TableInit();//.初始化 Table
            itable.Init();

        });

        function addOutRecord() {

        }


        //操作事情
        function operationEvents() {


        }
        //行样式
        function rowStyle(row, index) {

            var classes = ['success', 'danger']
            return { classes: classes[index % classes.length] };
        }

        //日期格式化
        function changeDateFormat(cellval) {
            if (cellval != null) {
                var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hours + ":" + minutes + ":" + seconds;

            }
        };
        var TableInit = function () {
            var outRecordTableInit = new Object();
            //.初始化 Table
            outRecordTableInit.Init = function () {
                $("#outRecordTable").bootstrapTable({
                    url: '/OutRecord/ReadOutRecords',
                    method: 'post',
                    toolbar: '#toolbar',//工具列
                    rowStyle: rowStyle,
                    theadClasses: "thead-blue",//设置thead-blue为表头样式
                    cache: false,//禁用缓存
                    pagination: true,//关闭分页
                    showFooter: false,//是否显示列脚
                    showPaginationSwitch: false,//是否显示 数据条数选择框
                    sortable: false,//排序
                    search: true,//启用搜索
                    showSearchButton: true,//
                    showFullscreen: true,//全屏按钮
                    showToggle: true,//显示详细视图和列表
                    showColumns: true,
                    showRefresh: true,//显示刷新按钮
                    clickToSelect: true,//点击选中checkbox
                    pageNumber: 1, //初始化加载第一页，默认第一页
                    pageSize: 7,   //每页的记录行数
                    pageList: [3, 5, 7, 9, 'ALL'], //可供选择的页面显示条数
                    maintainSelected: true, //记住选中项即使翻页
                    paginationPreText: "上一页",
                    paginationNextText: "下一页",
                    paginationFirstText: "First",
                    paginationLastText: "Last",
                    clickToSelect: true,  //是否启动点击选中行

                    Icons: 'glyphicon-export ',
                    columns: [{
                        title: "全选", field: "select", checkbox: true
                    }, {
                        field: 'Code',
                        title: '夹具代码',
                        visable: true
                    }, {
                        field: 'SeqID',
                        title: '夹具序列号',
                        visable: true
                    }, {
                        field: 'UsedByName',
                        title: '领用人',
                        visable: true,
                        sortable: true
                    }, {
                        field: 'OperationByName',
                        title: '操作人',
                        visable: true
                    }, {
                        field: 'ProLineID',
                        title: '产线ID',
                        visable: true
                    }, {
                        field: 'UsedDate',
                        title: '领用日期',
                        visable: true,
                        formatter: function (value, row, index) {
                            return changeDateFormat(value)
                        }
                    }, {
                        field: 'Operation',
                        title: '操作',
                        events: operationEvents,
                        formatter: function (value, row, index) {
                            return [
                                '<div class="btn-group">',
                                '<button id="btn_update" type="button" class="btn btn-warning"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i><span>编辑</span></button>',
                                '<button id="btn_delete" type="button" class="btn btn-danger" ><i class="glyphicon glyphicon-remove" aria-hidden="true"></i><span>删除</span></button>',
                                '</div>'
                            ].join(' ');
                        }
                    },]
                });
            };
            return outRecordTableInit;
        }
    </script>

</body>
</html>
