
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录界面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="~/Content/Login.css" type="text/css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="container wrap1" style="height:450px;">
        <h2 class="mg-b20 text-center">捷普公司</h2>
        <div class="col-sm-8 col-md-5 center-auto pd-sm-50 pd-xs-20 main_content">
            <p class="text-center font16">用户登录</p>
            <form action="/Login/DoLogin" method="post">
                <div class="form-group mg-t20">
                    <i class="icon-user icon_font"></i>
                    <input type="text" class="login_input" name="code" id="code" placeholder="请输入用户代码" />
                </div>
                <div class="form-group mg-t20">
                    <i class="icon-lock icon_font"></i>
                    <input type="password" class="login_input" name="password" id="password" placeholder="请输入密码" />
                </div>
                <div class="checkbox mg-b25">
                    <label>
                        <input type="checkbox" />记住我的登录信息
                    </label>
                </div>
                <button type="submit" class="login_btn">登 录</button>
            </form>
        </div>
    </div>
</body>
</html>