
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录界面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="~/Content/Login.css" type="text/css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js "></script>
    <script src="~/Scripts/common.toastr.init.js"></script>
    
    <!-- form 空值验证 -->
    <script src="~/Scripts/common.form.validate.js"></script>
   
    <script>

        function login() {
            if (CheckFormNull("loginform")) {
                $.ajax({
                    url: "/Login/DoLogin",
                    type: "post",
                    data: $('#loginform').serialize(),
                    success: function (result) {
                        if (!result.success) {
                            toastr.warning(result.tips);
                        }
                        else {
                            window.location.href = "/Home/Index";
                        }
                    },
                    error: function (e) {
                        toastr.error('登录错误');
                    }
                });
            }
        }
    </script>

</head>

<body>

    <div class="container wrap1" style="height:450px;">
        <h2 class="mg-b20 text-center">捷普公司</h2>
        <div class="col-sm-8 col-md-5 center-auto pd-sm-50 pd-xs-20 main_content">
            <p class="text-center font16">用户登录</p>
            <form id="loginform" onsubmit="return false;" action="##" method="post">
                <div class="form-group mg-t20">
                    <label for="code">用户名</label>
                    <i class="icon-user icon_font"></i>
                    <input type="text" class="login_input" name="code" id="code" placeholder="请输入用户代码" />
                </div>
                <div class="form-group mg-t20">
                    <label for="password">密码</label>
                    <i class="icon-lock icon_font"></i>
                    <input type="password" class="login_input" name="password" id="password" placeholder="请输入密码" />
                </div>
                <div class="checkbox mg-b25">
                    <label>
                        <input type="checkbox" />记住我的登录信息
                    </label>
                </div>
                <button type="submit" class="login_btn" onclick="login()">登 录</button>
            </form>
        </div>
    </div>
</body>
</html>