
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css" />
    <link href="~/Content/diy-bootstraptable.css" rel="stylesheet" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js" type="text/javascript"></script>

    <!-- 消息提示插件：toastr.js -->
    <link href="~/Content/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js" type="text/javascript"></script>
    <!--es6 promise-->
    <script src="~/Scripts//es6-promise.min.js "></script>
    <script src="~/Scripts//es6-promise.auto.min.js "></script>
    <!-- 弹出框插件 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>
    <script src="~/Scripts/common.form.validate.js"></script>
    <script src="~/Scripts/common.bootstraptable.init.js"></script>
    <script src="~/Scripts/common.toastr.init.js"></script>


</head>
<body>
    <div class="panel-body" style="padding-bottom:0px;">
        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-success" data-toggle="modal" data-target="#addInRecordModal">
                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                <span>新增</span>
            </button>
            <button id="btn_remove" type="button" class="btn btn-danger">
                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                <span>删除</span>
            </button>
        </div>

        <!-- <button type="button" id="download" style="margin-left:50px" id="btn_download" class="btn btn-primary" onClick ="$(‘#myTable‘).tableExport({ type: ‘excel‘, escape: ‘false‘ })">数据导出</button> -->
        <table id="inRecordTable" class="table-striped">
        </table>

        <!-- 添加 modal-->
        <div class="modal fade" id="addInRecordModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">添加记录</h4>
                    </div>
                    <div class="modal-body">
                        <form id="addform" class="form-horizontal" action="##" method="post">
                            <div class=" form-group">
                                <label class="col-xs-4 control-label" for="code">夹具代码</label>
                                <div class="col-xs-6">
                                    <input class="form-control" name="code" id="code" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4  control-label" for="seqID">夹具序列号</label>
                                <div class="col-xs-6">
                                    <input class="form-control" name="seqID" id="seqID" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4  control-label" for="retByName">归还人</label>
                                <div class="col-xs-6">
                                    <input class="form-control" name="retByName" id="retByName" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label" for="operationByName">操作人</label>
                                <div class="col-xs-6">
                                    <input class="form-control" name="operationByName" id="operationByName" type="text">
                                </div>
                            </div>
                            <div class=" form-group">
                                <label class="col-xs-4 control-label" for="prodLineID">产线ID</label>
                                <div class="col-xs-6">
                                    <input class="form-control" name="prodLineID" id="prodLineID" type="text">
                                </div>
                            </div>
                            <div class=" form-group">
                                <label class="col-xs-4 control-label" for="retDate">归还日期</label>
                                <div class="col-xs-6">
                                    <input class="form-control" name="retDate" id="retDate" type="text">
                                </div>
                            </div>
                            <div class="form-group modal-footer">
                                <div class="col-xs-6 col-xs-offset-4">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-warning" onclick="addInRecord()">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        //添加g归还记录
        function addInRecord() {
            if (CheckFormNull("addform")) {
                AddRecord("addform", "/InRecord/AddInRecord", "addInRecordModal", "inRecordTable");
            }
        }

        // inRecord 功能暂未完善
        //btn_remove 事件
        $("#btn_remove").on("click", function () {
            //获取选中数据
            var jsonData = getSelectedData("inRecordTable");
            if (jsonData == null) {
                return;
            }
            //确认删除的话
            confirmOrCancelDeleteData("/InRecord/DeleteOutRecords", "iRecordTable", jsonData)
        })

        //操作列事情
        window.operationEvents = {
            //编辑事件
            'click #btn_update': function (e, value, row, index) {
                var record = new Array();
                var Item = new Object();
                Item.ID = row.ID;
                Item.Code = row.Code;
                Item.SeqID = row.SeqID;
                Item.ByName = row.RetByName;
                Item.OperationByName = row.OperationByName;
                Item.ProdLineID = row.ProdLineID;
                Item.Date = row.RetDate;
                record.push(Item);
                console.log(record);
                UpdateRecord("/InRecord/UpdateInRecord", JSON.stringify(record));
            },
            //删除事件
            'click #btn_delete': function (e, value, row, index) {
                var ItemIDs = new Array();
                Item = new Object();
                Item.ID = row.ID;
                ItemIDs.push(Item);
                confirmOrCancelDeleteData("/InRecord/DeleteOutRecords", "inRecordTable", ItemIDs)
            }
        }

        //行样式
        function rowStyle(row, index) {
            var classes = ['success', 'danger']
            return { classes: classes[index % classes.length] };
        }

        /**
         * 数据列
         * */
        var columns = [{
            title: "全选", field: "select", checkbox: true
        }, {
            field: 'ID',
            title: '编号',
            visable: true,
            sortable: true
        },
        {
            field: 'Code',
            title: '夹具代码',
            visable: true,
        }, {
            field: 'SeqID',
            title: '夹具序列号',
            visable: true,

        }, {
            field: 'RetByName',
            title: '归还人',
            visable: true,

        }, {
            field: 'OperationByName',
            title: '操作人',
            visable: true
        }, {
            field: 'ProdLineID',
            title: '产线ID',
            visable: true
        }, {
            field: 'RetDate',
            title: '归还日期',
            visable: true,
            formatter: function (value, row, index) {
                return changeDateFormat(value)
            }
        }, {
            field: 'Operation',
            title: '操作',
            events: operationEvents,
            formatter: function (value, row, index) {
                return [
                    '<div class="btn-group">',
                    '<button id="btn_update" type="button" class="btn btn-warning"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i><span></span></button>',
                    '<button id="btn_delete" type="button" class="btn btn-danger" ><i class="glyphicon glyphicon-remove" aria-hidden="true"></i><span></span></button>',
                    '</div>'
                ].join(' ');
            }
        },]
        /**
         * table 初始化
         * */
        var TableInit = function () {
            var inRecordTable = new Object();           
            inRecordTable = BoootstrapTableInit("inRecordTable", '/InRecord/ReadInRecords', rowStyle, columns)
            return inRecordTable;
        }
        /**
         * 调用 table init
         */
        $(function () {
            //添加记录表单  设置操作人的值 且不可修改
            $("#operationByName").attr("value", window.sessionStorage.getItem("userName"));
            $("#operationByName").attr("readonly", "readonly");
            var itable = TableInit();//.初始化  Table
        });
    </script>

</body>
</html>
